body{
    background-image:url('background_img.jpeg.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
.container{
    display:flex;
    justify-content:center;
    margin-top:10%;
}